body {
    background-color:#eee;
}

.bottom-border{
    border-bottom: 1px groove #eee;
}

.sidebar {
    height:100vh;
    background: #343a40;
    background-position:center ;
    background-repeat:center ;
    background-size:cover ;
    box-shadow: 5px 7px 25px #999;
}






.pagination  {color: black;}

.pagination li a {color: black;}


.pagination li a.active {
    background-color: black;

}

ul.pagination li.active {
    background-color:black;

}
ul.pagination li a:hover {
    background-color: slategrey ;
     color: black;
     border-color: black

    }

.page-item.active .page-link{
    background-color:#343a40;
    border-color: black

}
