
.sidebar{

  background-color: blueviolet;
  height: 100%;
  z-index:3 ;
}
.content{
  z-index:2 ;
  position: relative;
  top: 25px;
  right: 20px;
}

.navbar{
  z-index:4 ;

}

 .profile img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.content{
  width:50%;
  margin-top: 20px;
}

.card-header{
background-color: #8d9092;
font-weight: 900;
font-size: 16px;
color: #fff;

}
thead{
 background-color: #8d9092;
 text-align: center;
 color: #fff;
}
table{
text-align: center;
}

.add{
  color: #676869;
  font-size: 35px;
  font-weight: 900;

}
.headTable{
  color: #676869;
  font-size: 18px;
  font-weight: 900;
}

/* ------------------------------- */



.pagination  {color: black;}

.pagination li a {color: black;}


.pagination li a.active {
    background-color: black;

}

ul.pagination li.active {
    background-color:black;

}
ul.pagination li a:hover {
    background-color: slategrey ;
     color: black;
     border-color: black

    }

.page-item.active .page-link{
    background-color: #919aa0;
    border-color: black

}







































